 body {
     font-size: 16px;
     font-style: normal;
     font-family: 'Oxygen', sans-serif;
     background: url(../media/bgg.jpg) no-repeat;
     background-size: cover;

 }

 .container-fluid .navbar-davatt {
     margin-left: 3%;
     margin-right: 3%;
 }

 .navbar-pad {
     padding-top: 0px;
     padding-bottom: 0px;
 }

 .navbar-davatt {
     border-radius: 0px;
     border: 0px;
 }

 .navbar-davatt a {
     font-size: 25px;
     font-weight: bold;
     text-align: center;
     text-transform: uppercase;
     margin-top: auto;
     margin-bottom: auto;
 }

 .navbar-davatt p {
     text-align: center;
     text-transform: uppercase;
     font-size: 11px;
     margin-bottom: 0px;
 }

 #logo-img {
     background: url(../media/logo.png) no-repeat center;
     border-radius: 13px;
     width: 100px;
     height: 100px;
     margin-top: 0px;
     margin-bottom: 0px;
     margin-left: 10px;
     margin-right: 10px;

 }

 .nav-item a {
     font-size: 15px;
     text-align: center;
     text-transform: uppercase;
     margin-top: auto;
 }

 #home-tiles {
     margin-top: 10px;
 }

 #home-tiles a {
     text-decoration: none;
 }

 .menu-item,
 .special-item,
 .map-item,
 .combo-item {
     height: 250px;
     width: 90%;
     margin: auto;
     margin-bottom: 5%;
     border: 1px solid rgb(143, 141, 141);
     position: relative;
     overflow: hidden;
     border-radius: 13px;
 }

 .menu-item span,
 .special-item span,
 .map-item span,
 .combo-item span {
     display: block;
     text-align: center;
     background-color: rgba(26, 31, 26, 0.507);
     font-size: 18px;
     color: rgb(161, 154, 154);
     font-weight: bold;
     text-transform: uppercase;
     text-decoration: none;
     margin-top: 225px;

 }

 .menu-item:hover,
 .combo-item:hover,
 .special-item:hover,
 .map-item:hover {
     box-shadow: 0 2px 10px 2px #7a6f6f;
 }

 .menu-item {
     background: url(../media/punjabi-menu.jpg) no-repeat;
     background-size: cover;

 }

 .special-item {
     background: url(../media/special.png) no-repeat center;
     background-size: cover;
 }

 .combo-item {
     background: url(../media/combo.png) no-repeat center;
     background-size: cover;
 }

 .map-div {
     margin: auto;
 }

 #main-content .order {
    /* width: 50%; */
    padding-left: 5%;
    padding-top: 4%;
    padding-bottom: 4%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    color: #353125;
    border-radius: 15% 0 15% 0;
}
#main-content .order h3{
   padding-top: 10%;
   font-size: 18px;
}
#main-content .order i{
   padding-right: 5%;
   font-size: 1.5em;
}
#main-content .order span {
    padding: 10%;
    font-size: 18px;
}
 .panel-footer {
     background-color: #161111;
     color: rgb(197, 188, 188);
 }

 #footer-title img {
     width: 100px;
     height: 100px;
     background: center;
 }

 .panel-footer span {
     text-align: center;
     font-size: 24px;
     font-weight: bold;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 .panel-footer p {
     margin-top: 10px;
     margin-left: 25px;
     font-size: 18px;
 }

 #footer-title i {
     margin-left: 25px;
     font-size: 40px;
     padding: 7px;
 }

 .footer-link-div,
 .footer-disclaimer-div {
     margin-top: 30px;
     margin-left: 30px;
 }

 #footer-links a {
     text-decoration: none;
     font-size: 18px;
     display: block;
     color: rgb(197, 188, 188);
 }

 .footer-link-div a {
     font-size: 18px;
     padding-bottom: 7px;
     text-transform: uppercase;
 }

 #footer-links a:hover,
 #footer-links a:visited {
     text-decoration: none;

 }

 .card-footer {
     position: fixed;
     bottom: 0;
     right: 0;
     width: 60px;
     height: 60px;
     border-radius: 50%;
     background-color: #2222226b;
     margin-bottom: 2%;
     margin-right: 2%;
 }

 .card-footer a {
     font-size: 30px;
     color: wheat;
 }

 .footer-copywrite span {
     margin: auto;
     display: block;
     text-align: center;
     font-size: 18px;
     font-weight: 100;
     color: #adaaaa;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 /* this is menu coding */
 .category-name-tag h1 {
     padding-top: 5%;
     text-align: center;
     color: #a5a3a3e1;
 }

 .category-name-tag span {
     padding-top: 1%;
     padding-bottom: 2%;
     display: block;
     text-align: center;
     color: #a5a3a3e1;
 }


 #menu-container a {
     text-decoration: none;
     font-size: 18px;
     display: block;
     padding-top: 8%;
     text-align: center;
     color: #adaaaa;
 }

 #menu-container img {
     border-radius: 13px;
     width: 90%
 }

 #menu-container .category-name-tag h1 {
     margin-top: 4%;
     color: #7a6f6f;
     text-align: center;
 }

 #menu-container .category-title p {
     margin-top: 3%;
     margin-bottom: 3%;
     width: 90%;
     margin: auto;
     color: #7a6f6f;
     text-align: center;
 }


 /* item-list.html */
 .row-section {
     margin-left: auto;
     margin-right: auto;
     width: 100%;
 }

 .detail-left {
     padding-right: 0%;
     padding-bottom: 2%;

 }

 .detail-right {
     padding-left: 0%;

 }

 .img-left {
     padding-bottom: 2%;
     padding-left: 0%;
     margin-top: auto;
     margin-bottom: auto;
 }

 .img-right {
     padding-bottom: 0%;
     padding-right: 0%;
     margin-top: auto;
     margin-bottom: auto;
     float: right;
 }

 .item-detials-left {
     text-align: center;
 }

 .item-detials-right {
     text-align: center;
 }

 .item-title-pn {
     padding-left: 7%;
     padding-top: 3%;
     width: 95%;
 }

 .item-title-en {
     padding-left: 7%;
     padding-top: 1%;
     width: 95%;
 }

 .row-section h2 {
     font-family: 'Lora', serif;
     font-family: 'Noto Serif Gurmukhi', serif;
     font-size: 220%;
     font-weight: 800;
     width: 90%;
     color: #a59a9a;
 }

 .row-section p {
     font-family: 'Lora', serif;
     font-family: 'Noto Serif Gurmukhi', serif;
     font-size: 120%;
     padding-left: 5%;
     width: 90%;
     font-weight: 500;
 }

 .row-section .item-detials-left {
     background-color: #6e6969a6;
     float: right;
     width: 90%;
     height: 100%;
     color: #e4e3e3;
     border-radius: 15% 0 0 0;
 }

 .row-section .item-detials-right {
     background-color: #6e6969a6;
     float: left;
     width: 90%;
     height: 100%;
     color: #e4e3e3;
     border-radius: 0 0 15% 0;
 }

 .row-section .img-left img {
     background: no-repeat;
     background-size: cover;
     border-radius: 0 0 12% 0;
     width: 90%;
 }

 .row-section .img-right img {
     background: no-repeat;
     background-size: cover;
     border-radius: 12% 0 0 0;
     width: 90%;
 }

 .category-img-right {
     text-align: right;
 }


 /* About.html */
 .about-page {
     color: #c2bdbd;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
 }

 .about-page h2,
 .about-page span,
 .about-page p {
     font-family: 'Lora', serif;
     font-family: 'Noto Serif Gurmukhi', serif;
     font-style: normal;
     padding-bottom: 2%;
 }

 /* achivement.html? */

 .achivement-page {
     color: #c2bdbd;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
 }

 .achivement-page h2,
 .achivement-page span,
 .achivement-page li {
     font-family: 'Lora', serif;
     font-family: 'Noto Serif Gurmukhi', serif;
     font-style: normal;
     padding-bottom: 2%;
 }

 /* contact.html? */
 #contact-container .contact-page {
     margin-left: auto;
     margin-right: auto;
     color: #adaaaa;
 }

 #contact-container .contact {
     text-align: center;
 }

 #contact-container .order {
     width: 80%;
     padding-left: 5%;
     padding-top: 4%;
     padding-bottom: 4%;
     text-align: left;
     margin-left: auto;
     margin-right: auto;
     background-color: #ffffff;
     color: #353125;
     border-radius: 15% 0 15% 0;
 }
 #contact-container .order h3{
    padding-top: 10%;
    font-size: 18px;
}
#contact-container .order i{
    padding-right: 5%;
    font-size: 1.5em;
}
 #contact-container .order span {
     padding: 10%;
     font-size: 18px;
 }


/* Gallery */
#gallery-container .gallery-title h1{
color: #cac7c7;
text-align: center;
padding: 5%;
text-align: center;
}

#gallery-container img{
    width: 85%;
    padding: 2%;
    border-radius: 10%;
    margin: auto;
    box-shadow: #a59a9a;
}
#gallery-container .row{
    text-align: center;
}
#gallery-container p{
display: none;
}

#gallery-container .gallery-item img:hover ,img:visited{
    padding: 0%;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 5px 5px 20px rgba(250, 249, 249, 0.5);
   width: 100%;
    }
    #gallery-container.gallery-item img:hover + p,img:visited + p{
display: block;
    }


 @media (min-width:1200px) {
     .jumbotron {
         background: url(../media/bg-1.jpg) no-repeat center;
         box-shadow: 0 0 50px #5a283b;
         height: 630px;
     }
 }

 @media (min-width:992px) and (max-width:1199px) {
     .jumbotron {
         background: url(../media/bg-2.jpg) no-repeat center;
         box-shadow: 0 0 50px #5a283b;
         height: 530px;
     }
 }

 @media (min-width:768px) and (max-width:991px) {
     .jumbotron {
         background: url(../media/bg-3.jpg) no-repeat center;
         box-shadow: 0 0 50px #5a283b;
         height: 500px;
     }
 }

 @media (min-width:576px) and (max-width:767px) {
     .jumbotron {
         background: url(../media/bg-4.jpg) no-repeat center;
         box-shadow: 0 0 50px #5a283b;
         height: 400px;
     }

     .detail-left {
         padding-right: 2%;
         padding-left: 1%;
         width: 100%;
     }

     .row-section .item-detials-left {
         float: none;
         margin-left: auto;
         margin-right: auto;
         width: 95%;
         border-radius: 12% 0 5% 0;
     }

     .row-section .img-left img {
         width: 95%;
         border-radius: 5% 0 12% 0;

     }

     .category-img-left {
         text-align: center;
     }

 }

 @media (max-width:575px) {
     #logo-img {
         background: url(../media/logo1.png) no-repeat center;
         border-radius: 7px;
         width: 60px;
         height: 60px;
         object-fit: contain;
         margin: 1px, 1px, 1px, 0px;
     }

     .navbar-davatt a {
         font-size: 20px;
         font-weight: bold;
         text-align: center;
         text-transform: uppercase;
         margin-top: 5px;
         margin-bottom: 0px;
     }

     .navbar-davatt p {
         text-align: center;
         text-transform: uppercase;
         font-size: 9px;
     }

     .navbar-brand {
         padding-top: 0px;
         padding-left: 0px;

     }

     .navbar-brand a {
         font-family: 'Lora', serif;
         color: #557e55;
         font-size: 1em;
         text-transform: uppercase;
         font-weight: bold;
         text-shadow: 1px 2px 1px #222;
         margin-top: 20px;
         margin-bottom: 5px;
         text-align: center;
     }

     .navbar-brand p {
         color: #000;
         text-transform: uppercase;
         font-size: .5em;
         text-align: center;
     }

     .nav-item a {
         font-size: 11px;
         text-align: center;
         text-transform: uppercase;
         margin-top: auto;
     }

     .nav-item a span {
         font-size: 14px;
         padding-left: 7px;
         padding-right: 7px;
         text-align: center;
         text-transform: uppercase;
     }

     .panel-footer div {
         margin-left: 0px;
     }

     #footer-title img {
         width: 100px;
         height: 100px;
         display: block;
         margin: 0px auto;
         background: center;
     }

     .panel-footer span {
         margin-left: auto;
         font-size: 25px;
         display: block;
         text-align: center;
     }

     .panel-footer p {
         margin-left: auto;
         display: block;
         font-size: 18px;
         text-align: center;
     }

     .footer-copywrite span {
         font-size: 16px;
     }

     /* item-list.html */
     .detail-left {
         padding-right: 2%;
         padding-left: 1%;
         width: 100%;
     }

     .row-section .item-detials-left {
         float: none;
         margin-left: auto;
         margin-right: auto;
         width: 95%;
         border-radius: 12% 0 5% 0;
     }

     .row-section .img-left img {
         width: 95%;
         border-radius: 5% 0 12% 0;

     }

     .category-img-left {
         text-align: center;
     }

     /* ddd? */
     .detail-right {
         padding-right: 3%;
         padding-left: 1%;
         width: 100%;
     }

     .row-section .item-detials-right {
         float: none;
         margin-left: auto;
         margin-right: auto;
         width: 95%;
         border-radius: 5% 0 12% 0;
     }

     .row-section .img-right img {
         float: none;
         width: 95%;
         border-radius: 12% 0 5% 0;

     }

     .img-right {
         padding-left: 0%;
         padding-right: 1%;
     }

     .category-img-right {
         text-align: center;
     }

 }